<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <nav class="navbar navbar-inverse" style="height:60px">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/Home/Index"><strong>Product Stock Tracking</strong></a>
            </div>
            <ul class="nav navbar-nav">

                @*<li class="active"><a href="#">Home</a></li>*@

                @*<li><a href="/User/Update" style="color:whitesmoke">@Session["Name"] @Session["Last Name"]</a></li>*@

                <li><a href="/Category/Index">Categories</a></li>
                <li><a href="/Products/Index">Products</a></li>
                <li><a href="/Account/Update" style="color:whitesmoke">@Session["Name"] @Session["LastName"]</a></li>


                @if (User.IsInRole("Admin"))
                {
                    <li><a href="/AllSales/Index">All Sales</a></li>
                    <li><a href="/User/Index">User</a></li>
                    <li><a href="/Products/CriticalStock">Critical Stock @Html.Action("StockCount", "Products")</a></li>
                    <li><a href="/Products/StockGraphic">Stock Graphic</a></li>
                    <li><a href="/Statistics/Index">Statistics</a></li>

                }

                @if (User.IsInRole("User"))
                {
                    <li><a href="/Sales/Index">Sales</a></li>
                    <li><a href="/ShoppingCard/Index"><label style="color:red">Shopping Card </label></a></li>
                }

                <li><a href="/Account/logOut">Log Out</a></li>
            </ul>
            @*<ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>*@
        </div>
    </nav>

    <div class="container">

        @RenderBody()


        @*<h3>Right Aligned Navbar</h3>
        <p>The .navbar-right class is used to right-align navigation bar buttons.</p>*@
    </div>

</body>
</html>
